body, h1, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.main-content {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.main-container {
    background-color: #f0f0f0;
    padding: 20px;
}

.brand {
    font-size: 36px;
    color: #333;
    margin: 25px;
}

#login-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-box {
    margin-top: 20px;
    display: none;
}
.login-box.hidden {
    display: none;
}

.login-box input {
    display: block;
    margin: 10px auto;
    padding: 8px 12px;
    width: 200px;
    font-size: 16px;
}

.login-box a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}