<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFund - User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-center">
            <a href="/">Home</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
    </nav>

    <div class="main-container">
        <div class="main-content">
            <h1 class="brand">Fast Fund user dashboard page!</h1>
            <h2>Welcome to Fast Fund <span style="color:rgb(0, 123, 255); text-transform: uppercase;">{{ full_name }}</span></h2>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-links">
            <a>Careers</a>
            <a>About Us</a>
            <a>Contact Us</a>
        </div>
    </footer>
</body>
</html>
